<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.codepoint.villagefarms">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".FarmerAddAdvanceActivity"></activity>
        <activity android:name=".FarmerProcurementsActivity" />
        <activity android:name=".FarmerAdvancesActivity" />
        <activity
                android:name=".FarmerMenuActivity"
                android:label="@string/title_activity_farmer_menu" />
        <activity
                android:name=".MainActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".RegisterActivity"
                android:label="@string/title_activity_register" />
        <activity
                android:name=".FarmerDetailActivity"
                android:label="@string/title_activity_farmer_detail" />
        <activity
                android:name=".FarmerEditActivity"
                android:label="@string/title_activity_farmer_edit" />
        <activity
                android:name=".SalesActivity"
                android:label="@string/title_activity_sales" />
        <activity
                android:name=".SalesDetailActivity"
                android:label="@string/title_activity_sales_detail" />
    </application>

</manifest>